/* Seu arquivo de estilo CSS (seu-componente.component.css) */
.custom-file-upload {
    position: relative;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #2980b9;
    border-radius: 4px;
  }
  
  .custom-file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Estilo quando o mouse passa sobre o elemento */
  .custom-file-upload:hover {
    background-color: #217dbb;
  }