<mat-dialog-content class="mat-typography w-100">
    <form
        (submit)="$event.preventDefault()"
        [formGroup]="form"
        class="flex flex-col"
    >
        <h2 class="text-center text-xl">{{page}} EMPRESA</h2>
        <div class="flex flex-col w-[100%]">
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input type="text" formControlName="nome" matInput #first />
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="page === 'CRIAR'">
                <mat-label>Cnpj</mat-label>
                <input type="text" formControlName="cnpj" matInput #first />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Domicílio Fiscal</mat-label>
                <mat-select formControlName="domicilio_fiscal">
                    <mat-option *ngFor="let uf of ufs" [value]="uf.sigla">
                        {{ uf.sigla }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="onSubmit()">
            {{page}}
        </button>
    </form>
</mat-dialog-content>
<!-- {{form.value | json }} -->
