<div class="flex flex-col flex-auto w-auto">

    <form (submit)="$event.preventDefault()" [formGroup]="form"
        class="grid grid-cols-2 gap-x-2 gap-y-4 w-full sm:w-[60%] md:w-[80%] m-8">
        <div class="col-span-full flex justify-between w-full">
            <p class="text-2xl mb-6 font-bold col-span-full">{{form.value.page_group_title}}</p>
            <p class="text-xl">
                Link: {{form.value.link}}
            </p>
        </div>
        <div class="grid grid-cols-2 gap-x-2 gap-y-4 col-span-full">
            <mat-form-field class="md:col-span-1 fuse-mat-dense col-span-full ">
                <mat-label>Tipo da página</mat-label>
                <mat-select (selectionChange)="change()" formControlName="page_type">
                    <mat-option *ngFor="let item of screenType" [value]="item" [disabled]="item !== 'report' && item !== 'dashboard'">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="fuse-mat-dense md:col-span-1 col-span-full ">
                <mat-label>Nome da Página</mat-label>
                <input (input)="change()" formControlName="title" matInput #first />
            </mat-form-field>

            <div *ngIf="form.value.page_type !== 'page'"
                class="bg-slate-200 p-4 rounded-md fuse-mat-dense col-span-full grid grid-cols-2 gap-x-2 gap-y-4">

                <mat-form-field appearance="fill" class=" md:col-span-1 fuse-mat-dense col-span-full ">
                    <mat-label>ID do grupo</mat-label>
                    <input formControlName="group_id" matInput #first />
                </mat-form-field>
                <mat-form-field appearance="fill" class=" md:col-span-1 fuse-mat-dense col-span-full ">
                    <mat-label>ID do {{form.value.page_type.includes('dashboard') ? 'Dashboard' :
                        'Relatório'}}</mat-label>
                    <input formControlName="report_id" matInput #first />
                </mat-form-field>
                <mat-form-field appearance="fill" class=" md:col-span-1 fuse-mat-dense col-span-full ">
                    <mat-label>Descrição do {{form.value.page_type.includes('dashboard') ? 'Dashboard' :
                        'Relatório'}}</mat-label>
                    <input formControlName="descricao_painel" matInput #first />
                </mat-form-field>
                <mat-form-field appearance="fill" class=" md:col-span-1 fuse-mat-dense col-span-full ">
                    <!-- <mat-label>Responsável</mat-label>
                    <input formControlName="responsavel" matInput #first /> -->
                    <mat-label>Roles</mat-label>
                    <mat-select formControlName="roles" multiple>
                        <mat-select-trigger>
                            {{findRole(form.value.roles[0]) }}
                            <span *ngIf="(form.value.roles?.length || 0) > 1" class="example-additional-selection">
                                (+{{(form.value.roles?.length || 0) - 1}} {{form.value.roles?.length === 2 ? 'Outro' :
                                'Outros'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-span-full md:col-span-1 flex gap-x-4 items-center">
                <mat-form-field class="w-full  fuse-mat-dense" >
                    <mat-label>Nome do Responsável</mat-label>
                    <input formControlName="nome_responsavel" matInput #first /> 
                </mat-form-field>
            </div>
                   <div class="col-span-full md:col-span-1 flex gap-x-4 items-center">
                <mat-form-field class="w-full  fuse-mat-dense" >
                    <mat-label>Email do Responsável</mat-label>
                    <input formControlName="email_responsavel" matInput #first /> 
                </mat-form-field>
            </div>
            <div class="col-span-full flex gap-x-4 items-center">
                <section class="example-section">
                    <mat-checkbox matTooltip="CPF, CNPJ, Nome, Salário etc..." formControlName="possui_dados_sensiveis" class="example-margin">Possui dados
                        sensíveis?
                    </mat-checkbox>
                        
                </section>
            </div>
            <div class="col-span-1 col-start-2 flex justify-end gap-x-4 mt-6">
                <button mat-raised-button (click)="voltar()"
                    class="self-end mt-2 rounded-sm text-colorText bg-[#006cbe] text-white">voltar</button>

                <button mat-raised-button (click)="criarRota()"
                    class="self-end mt-2 rounded-sm text-colorText bg-[#006cbe] text-white">{{page_context}}</button>
            </div>
        </div>
    </form>
</div>
