<div class="flex flex-col flex-auto w-auto h-auto">
    <form
        (submit)="$event.preventDefault()"
        class="flex flex-col w-100"
        [formGroup]="form"
    >
        <p class="text-2xl font-bold mb-4">Ícones</p>

        <mat-form-field class="example-full-width">
            <mat-label>Ícones</mat-label>
            <mat-icon
                class="icon-size-5 hover:cursor-pointer"
                matPrefix
                svgIcon="feather:x"
                (click)="cleanInput()"
            ></mat-icon>

            <input
                type="text"
                placeholder="escolha o ícone"
                aria-label="ícone"
                matInput
                formControlName="search"
            />
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="form.value.icon"
            ></mat-icon>
        </mat-form-field>
        <div class="flex justify-between items-center mb-6">
            total - {{ filteredIcons.length }}
        </div>

        <div
            class="w-100 max-h-50 h-auto overflow-y-auto overflow-x-hidden"
            cdkScrollable
        >
            <!-- <div
                class="text-xl h-20 text-center font-thin"
                *ngIf="filteredIcons.length == 0"
            >
                Ícone não encontrado
            </div> -->

            <div
                class="text-xl h-20 text-center font-thin"
                *ngIf="filteredIcons.length == 0"
            >
                <div
                    *ngFor="let icon of filteredIcons"
                    [value]="icon"
                    class="p-1 bg-gray-100 hover:bg-white cursor-pointer shadow-sm"
                    (click)="selectIcon(icon)"
                >
                    <mat-icon
                        [svgIcon]="icon.type + ':' + icon.icon"
                        class="text-black"
                    ></mat-icon>
                </div>
            </div>

            <div class="flex flex-wrap" *ngIf="filteredIcons.length > 0">
                <div
                    *ngFor="let icon of filteredIcons"
                    [value]="icon"
                    class="p-1 bg-gray-100 hover:bg-white cursor-pointer shadow-sm"
                    (click)="selectIcon(icon)"
                >
                    <mat-icon
                        [svgIcon]="icon.type + ':' + icon.icon"
                        class="text-black"
                    ></mat-icon>
                </div>
            </div>

            <!-- <div
                class="flex flex-wrap"
                *ngIf="filter2(form.value.search || '').length > 0"
            >
                <div
                    *ngFor="let opt of filteredObsv | async"
                    [value]="opt"
                    class="p-1 bg-gray-100 hover:bg-white cursor-pointer shadow-sm"
                    (click)="selectIcon(opt)"
                >
                    <mat-icon
                        [svgIcon]="opt.type + ':' + opt.icon"
                        class="text-black"
                    ></mat-icon>
                </div>
            </div>
        </div>
    </form> -->
        </div>
        <button
            class="mt-4 self-end p-1 mb-6 min-w-22 w-1/5 bg-[#006cbe] text-white"
            (click)="editIcon(form.value.icon)"
        >
            Submit
        </button>
    </form>
</div>
