<div class="w-full flex flex-row justify-center items-center">

    <div class="flex flex-col m-10 mt-0 bg-white rounded-b-xl p-5 shadow-2xl">
        <div class="mx-10 my-0 rounded-t-xl flex items-center bg-white py-[3px]">

            <button (click)="voltar()" class="self-start my-2 mr-8 ml-[-40px] hover:rounded-full">
                <mat-icon class="flex self-center text-slate-600 hover:text-slate-400" svgIcon="arrow_back"></mat-icon>
            </button>

            <div class="w-full m-2">
                <h1 class="text-center text-slate-700 text-2xl">
                    CRIAR USUÁRIO
                </h1>
            </div>
        </div>
        <!-- <h2 class="text-left mb-2 text-xl">
        Informações do Usuário
    </h2> -->
        <form (submit)="$event.preventDefault()" [formGroup]="form" class="flex flex-col w-100">

            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input formControlName="name" matInput #first />
                <mat-icon svgIcon="heroicons_outline:user-circle" class=""></mat-icon>

            </mat-form-field>
            <div *ngIf="form.controls.name.touched" class="text-red-600 mb-2">
                <div *ngIf="form.controls.name.errors?.['required']">
                    Nome é Obrigatório
                </div>
                <div *ngIf="form.controls.name.errors?.['minlength']">
                    Precisa de no mínimo 3 dígitos
                </div>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" formControlName="email" matInput #first />
                <mat-icon svgIcon="heroicons_outline:user-circle" class=""></mat-icon>

            </mat-form-field>
            <div *ngIf="form.controls.email.touched" class="text-red-600 mb-2">
                <div *ngIf="form.controls.email.errors?.['required']">
                    Email é Obrigatório
                </div>
                <div *ngIf="form.controls.email.invalid && !form.controls.email.errors?.['required']">
                    Email inválido
                </div>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Identificação</mat-label>
                <input type="text" formControlName="identification" matInput #first />
                <mat-icon svgIcon="heroicons_outline:user-circle" class=""></mat-icon>

            </mat-form-field>
            <div *ngIf="form.controls.identification.touched" class="text-red-600 mb-2">
                <div *ngIf="form.controls.identification.errors?.['required']">
                    Identificação é Obrigatória
                </div>
            </div>
            <mat-form-field>
                <mat-label>Tenant</mat-label>
                <mat-select>
                   <input (keyup)="onKey($event.target.value)">
                  <mat-option *ngFor="let t  of selectedTenant" [value]="t.id">{{t.nome_cliente}}</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Perfil</mat-label>
                <mat-select formControlName="role_id">
                    <mat-option value="ca21241b-a37d-4e6f-bbb6-26643d3cdd99">User</mat-option>
                    <mat-option value="6a203390-8389-49ca-aa0e-6a14ba7815bc">Admin</mat-option>
                    <mat-option value="24ec4e25-9431-478b-9694-bf9159e6fcc4">Regional</mat-option>
                    <mat-option value="a8296030-c28f-45cb-9c8b-444e05218605">Nacional</mat-option>
                </mat-select>
                <mat-icon svgIcon="heroicons_outline:archive"></mat-icon>

            </mat-form-field>
            <div *ngIf="form.controls.role_id.touched">
                <div *ngIf="form.controls.role_id.errors?.['required']" class="text-red-600 mb-2">
                    Perfil é Obrigatório
                </div>
            </div>
        </form>
        <button mat-raised-button color="primary" (click)="criar()" class="self-end mt-2 rounded-sm text-colorText">CRIAR</button>
    </div>
</div>
