<div>

    <div class="m-10 mb-0 rounded-t-xl flex items-center bg-white py-[3px]">

        <button (click)="voltar()" class="self-start  hover:rounded-full m-2">
            <mat-icon class="flex self-center text-slate-600 hover:text-slate-400" svgIcon="arrow_back"></mat-icon>
        </button>

        <div class="w-full m-2">
            <h1 class="text-center text-slate-700 text-2xl">
                EDITAR USUÁRIO
            </h1>
        </div>
    </div>
    <div class="flex flex-col m-10 mt-0 bg-white rounded-b-xl p-5">
        <!-- <h2 class="text-left mb-2 text-xl">
        Informações do Usuário
    </h2> -->
        <form (submit)="$event.preventDefault()" [formGroup]="form" class="flex flex-col w-100">

        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text" formControlName="nome" matInput #first />
        </mat-form-field>
        <div *ngIf="form.controls.nome.touched" class="text-red-600 mb-2">
            <div *ngIf="form.controls.nome.errors?.['required']">
                Nome é Obrigatório
            </div>
            <div *ngIf="form.controls.nome.errors?.['minlength']">
                Precisa de no mínimo 3 dígitos
            </div>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Perfil</mat-label>
            <mat-select formControlName="perfil">
                <mat-option value="User">User</mat-option>
                <mat-option value="Admin">Admin</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="form.controls.perfil.touched">
            <div *ngIf="form.controls.perfil.errors?.['required']" class="text-red-600 mb-2">
                Perfil é Obrigatório
            </div>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Area</mat-label>
            <mat-select formControlName="area">
                <mat-option value="Comercial">Comercial</mat-option>
                <mat-option value="Administrativo">Administrativo</mat-option>
                <mat-option value="Projetos">Projetos</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="form.controls.area.touched" class="text-red-600 mb-2">
            <div *ngIf="form.controls.area.errors?.['required']">
                Area é Obrigatório
            </div>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Visões</mat-label>
            <mat-select [formControl]="visoesFormArray" multiple class="max-w-[93%]">
                <mat-option *ngFor="let order of ordersData" [value]="order.id">
                    {{order.name}}
                </mat-option>
            </mat-select>
            <mat-icon [matBadge]="visoesFormArray.value.length" matBadgeColor="primary" svgIcon="heroicons_outline:eye">
            </mat-icon>
        </mat-form-field>
        <div *ngIf="form.controls.visoes.touched" class="text-red-600 mb-2">
            <div *ngIf="form.controls.visoes.errors?.['required']">
                Visões é Obrigatório
            </div>
        </div>

        <mat-accordion class="my-5">
            <mat-expansion-panel showToggle [expanded]="visoesFormArray.value.length > 0" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="ml-[-20px]">
                    <mat-panel-title>
                        {{ panelOpenState ? "Esconder" : "Mostrar"}} Visões
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex flex-col">
                    <div *ngFor="let v of visoesFormArray.value">
                        {{ordersData[v - 1].name}}
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
    <button mat-raised-button color="primary" (click)="criar()" class="self-end">CRIAR</button>
</div>