<form
    (submit)="$event.preventDefault()"
    [formGroup]="form"
    class="flex flex-col w-full sm:w-100"
>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput #first />
        <mat-icon svgIcon="heroicons_outline:user-circle" class=""></mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput #first />
        <mat-icon svgIcon="heroicons_outline:user-circle" class=""></mat-icon>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Projetos</mat-label>
        <mat-select formControlName="projetos" multiple>
            <mat-select-trigger>
                {{ form.value.projetos }}
                <span
                    *ngIf="(form.value.projetos?.length || 0) > 1"
                    class="example-additional-selection"
                >
                    (+{{ (form.value.projetos?.length || 0) - 1 }}
                    {{
                        form.value.projetos?.length === 2 ? "outro" : "outros"
                    }})
                </span>
            </mat-select-trigger>

            <mat-option
                class="ml-4"
                *ngFor="let projeto of projetos"
                [selected]="projeto.selected"
                [value]="projeto.projeto"
            >
                {{ projeto.projeto }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="form.controls.projetos.touched">
        <div *ngIf="form.controls.projetos.errors?.['required']" class="text-red-600 mb-2">
            Projetos são Obrigatórios
        </div>
    </div>
    <button
        color="primary"
        (click)="onSubmit()"
        class="text-white text-center self-end bg-blue-600 w-20 hover:bg-blue-700 h-7 mr-2 font-medium rounded-md text-sm dark:bg-blue-400 focus:outline-none dark:focus:ring-blue-500"
    >
        SALVAR
    </button>
</form>
