<div class="w-full p-8">
    <h1 class="text-3xl text-slate-700 my-5">
        {{ user.name + ", Bem vindo ao Portal do Cliente !" }}
    </h1>
    <div class="ml-8 mb-8 text-slate-600 h-[30vh]">
        <ul class="list-disc text-2xl font-bold">
            <li class="w-fit hover:text-slate-500">
                informações em tempo real
            </li>
            <li class="w-fit hover:text-slate-500">relatorios exclusivos</li>
            <li class="w-fit hover:text-slate-500">muito mais!</li>
        </ul>
    </div>

    <div class="flex space-x-8">
        <div
            class="max-w-62 bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition duration-300 hover:scale-110 cursor-pointer"
        >
            <!-- Image Container -->
            <div class="relative">
                <img
                    class="w-full h-48 object-cover"
                    src="/assets/images/Active.png"
                    alt="Power BI Energy Monitoring"
                />
                <!-- Overlay with Logo -->
            </div>
            <!-- Content Section -->
            <div class="p-4">
                <h2 class="text-lg font-semibold text-gray-800 mb-2">
                    Dashboard Power BI exclusivos
                </h2>
                <p class="text-gray-600">Breve descrição...</p>
            </div>
        </div>
        <div
            class="max-w-62 bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition duration-300 hover:scale-110 cursor-pointer"
        >
            <!-- Image Container -->
            <div class="relative">
                <img
                    class="w-full h-48 object-cover"
                    src="/assets/images/Active.png"
                    alt="Power BI Energy Monitoring"
                />
                <!-- Overlay with Logo -->
            </div>
            <!-- Content Section -->
            <div class="p-4">
                <h2 class="text-lg font-semibold text-gray-800 mb-2">
                    Dashboard Power BI exclusivos
                </h2>
                <p class="text-gray-600">Breve descrição...</p>
            </div>
        </div>
        <div
            class="max-w-62 bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition duration-300 hover:scale-110 cursor-pointer"
        >
            <!-- Image Container -->
            <div class="relative">
                <img
                    class="w-full h-48 object-cover"
                    src="/assets/images/Active.png"
                    alt="Power BI Energy Monitoring"
                />
                <!-- Overlay with Logo -->
            </div>
            <!-- Content Section -->
            <div class="p-4">
                <h2 class="text-lg font-semibold text-gray-800 mb-2">
                    Dashboard Power BI exclusivos
                </h2>
                <p class="text-gray-600">Breve descrição...</p>
            </div>
        </div>
    </div>

    <!-- <div class="flex w-full h-2/5 justify-between">
        <div class="bg-slate-200 w-[47%] h-full rounded-lg p-6 shadow-xl">
            <ul class="text-bold text-slate-700 text-2xl list-inside list-disc">
                <li>dashboard exclusivos para os clientes</li>
                <li>acompanhe o progresso de seus projetos</li>
                <li>tudo em um lugar so</li>
            </ul>
        </div>
        <div class="bg-slate-200 w-[47%] h-full rounded-lg p-6 shadow-xl">
            <ul class="text-bold text-slate-700 text-2xl list-inside list-disc">
                <li>dashboard exclusivos para os clientes</li>
                <li>acompanhe o progresso de seus projetos</li>
                <li>tudo em um lugar so</li>
            </ul>
        </div>
    </div>
    <div class="flex h-2/5 mt-5 justify-between">
        <div class="w-[30%] bg-slate-200 shadow-xl rounded-lg p-6">
            ActiveHUB
        </div>
        <div class="w-[30%] bg-slate-200 shadow-xl rounded-lg p-6">
            PowerAPPS
        </div>
        <div class="w-[30%] bg-slate-200 shadow-xl rounded-lg p-6">OUTROS</div>
    </div>  -->
</div>
<!-- <iframe
    src="https://www.activebi.com.br/blog"
    class="w-[100vw] h-[100vh]"
></iframe> -->
