<div class="flex flex-col flex-auto min-w-0">
    <div
        class="fixed flex flex-0 items-center justify-between w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <div class="w-full flex flex-row ">
            <div class="justify-center flex w-full ml-8 pl-10 text-primary text-xl     ">
                Portal de Indicadores Active
            </div>
        </div>
        <button mat-flat-button class="text-blue-900" [routerLink]="'/auth/sign-in'">
            Entrar
        </button>

    </div>
    <!-- Header -->
    <div class="relative  pt-8 pb-64 px-4 sm:pt-20 sm:pb-48 sm:px-16 overflow-hidden bg-gray-800 dark:bg-gray-900 dark">
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold uppercase">embedded </h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Já conhece o portal da Active?
            </div>
            <div class="mt-18 sm:text-2xl text-center mb-[-140px] sm:mb-[-60px] tracking-tight text-secondary">
                Veja os principais tópicos
            </div>

        </div>
    </div>

    <div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10">
        <!-- Cards -->
        <div class="flex justify-center flex-col gap-y-8 sm:flex-col md:flex-row md:gap-x-2 w-full max-w-sm md:max-w-4xl  -mt-24">
            <!-- FAQs card -->
            <!-- <div
            (click)="scrollToElement()"
                class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150 cursor-pointer">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Sobre o Portal</div>
                    <div class="md:max-w-40 mt-1 text-secondary">Um tour rápido de apresentação</div>
                </div>
                <div
                    class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <div class="flex items-center" >
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Fazer Tour</span>
                        <mat-icon class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </div>
                </div>
            </div> -->
            <!-- Guides card -->
            <div
                class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Active    </div>
                    <div class="md:max-w-40 mt-1 text-secondary">Saiba mais sobre a consultoria Active    </div>
                </div>
                <div
                    class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t cursor-pointer">
                    <a class="flex items-center" (click)="redirecionar()">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Ir para site</span>
                        <mat-icon class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
        </div>
        <!-- FAQs -->
        <!-- <div class="mt-24 text-3xl sm:text-5xl font-extrabold leading-tight tracking-tight text-center">Ainda não possui
            acesso ao Portal?</div>
        <div class="mt-2 text-xl text-center text-secondary">Faça agora mesmo sua solicitação
        </div>
        <button mat-raised-button color="primary"
            class="self-center mt-2 rounded-sm text-colorText bg-blue-600" [routerLink]="'/home/access-request'">Solicitar acesso</button>

    </div> -->
<!-- 
    <div #elementoParaScrollar
        class="flex items-center bg-gray-800 dark:bg-gray-900 dark bg-cover bg-[url(assets/images/powerBi.jpg)] bg-no-repeat bg-right h-[400px]">


        <div class="flex flex-col items-center md:w-1/2 w-full justify-center">
            <h2 class="text-xl font-semibold uppercase">saiba como funciona o embedded </h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Obtenha a documentação
            </div>
            <div class="flex flex-col justify-center">

                <button
                    class="flex mt-8 sm:text-2xl text-center items-center  justify-items-center p-2 rounded-md bg-blue-600 text-white ">
                    Documentação Demonstrativa
                    <mat-icon svgIcon="mat_outline:file_download" class="self-center ml-2 text-white"></mat-icon>
                </button>

            </div>
        </div>

    </div> -->
</div>
