<configuration>

<system.webServer>
 <httpProtocol>
         <customHeaders>
            <add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' https://www.google.com/ https://www.gstatic.com https://app-active.herokuapp.com ; style-src 'self' 'unsafe-inline' https://use.fontawesome.com/ ; font-src 'self' https://fonts.gstatic.com https://use.fontawesome.com; child-src www.google.com https://app.powerbi.com/; img-src 'self' data:; object-src data: 'unsafe-eval';" />
            <add name="Strict-Transport-Security" value="max-age=31536000" />
            <add name="X-Content-Type-Options" value="nosniff" />
            <add name="X-Frame-Options" value="DENY" />
         </customHeaders>
      </httpProtocol>

</system.webServer>

</configuration>
