<div class="flex flex-col flex-auto min-w-0">
    <div class="text-3x-L flex-auto p-6  justify-center">
        <div class="flex items-center justify-start">
            <button mat-raised-button (click)="criarUsuario()"
                class="self-end mt-2 rounded-sm text-colorText bg-[#006cbe] text-white">criar novo grupo</button>
        </div>

        <div class="w-full bg-primary h-16 rounded-t-md  mt-4 flex items-center justify-between">
            <div class="text-3xl text-white mx-4">Grupos de Menus</div>
            <div class="flex items-center justify-start">

                <mat-form-field appearance="fill" class="w-80 mt-4 mr-4 ml-1">
                    <mat-icon class="mr-4">search</mat-icon>
                    <input type="text" [formControl]="myControl" placeholder="Buscar"
                        (ngModelChange)="filtarUsuarios($event)" matInput />
                </mat-form-field>
            </div>

        </div>
        <div class="flex flex-col shadow-2xl" id="table">
            <table mat-table class="" [dataSource]="usuariosFiltrados" class="pb-6">
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Grupo </th>
                    <td mat-cell *matCellDef="let element"> {{element.page_group}} </td>
                </ng-container>
                <ng-container matColumnDef="paginas" >
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Páginas aninhadas </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.children.length }} </td>
                </ng-container>
                <ng-container matColumnDef="acessos premitidos" >
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Acessos Permititos</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <div class="flex justify-center">

                            <div *ngFor="let item of element.children_roles" color="primary" class=" p-1 mx-2 rounded-full bg-gray-100">
                            {{item}}
                        </div>
                    </div>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <ng-container matColumnDef="opcoes" class="flex">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="w-full flex justify-end">
                            <button class="text-violet-900" matTooltip='Editar' (click)="editarGrupo(element.id)">
                                <mat-icon class="cursor-pointer mr-5 text-blue-700" svgIcon="edit_note"></mat-icon>

                            </button>
                        </div>
                    </td>
                </ng-container>
            </table>
            <div class="flex bg-white justify-end">

                <mat-paginator #paginator [pageSize]="10" [length]="usuariosL" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
        <div class="flex flex-row p-4" id="table">
        </div>
    </div>
</div>
