#report-container{
    /* height: calc(0.60 * 58vw); 16:9 aspect ratio */

}

.ping {
	-webkit-animation: ping 1.5s ease-in-out infinite backwards;
	        animation: ping 1.5s ease-in-out infinite backwards;
}

#img-loader{
  position: absolute;
  top: 40%;
  left: 45%;
}

.progress-bar {
    padding: 0;
  }

  .progress {
    width: 50px;
  }

  #fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
  }

  .mat-toolbar-single-row button {
    width: 100px;
  }

  .mat-form-field {
    width: 100%;
  }

  .message {
    background-color: #ddd;
    padding: 15px;
    color: #333;
    border: #aaa solid 1px;
    border-radius: 4px;
    margin-bottom: 10px;
  }



.form-upload{

    background:#333;
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 200px;
  }

  .input-personalizado{
    cursor: pointer;
  }

  .imagem{
    max-width: 100%;
  }

  .input-file{
    display:none;
  }
