<div class="flex flex-col md:w-[40vw] w-[60vw] h-auto overflow-y-auto">
    <div class="w-full flex justify-start text-center align-center">
        <mat-icon svgIcon="mat_outline:warning_amber" class="text-yellow-400 mr-1"></mat-icon>
        <div class=" text-xl mb-2">Atenção!</div>
    </div>
    <p class=""> {{data.nome}} precisa ser atribuido a um Cliente. </p>
    <p class="">Deseja continuar?</p>
    <form (submit)="$event.preventDefault()" [formGroup]="form" class="flex flex-col mt-4 gap-y-4">
        <mat-checkbox (change)="toggleForm()">Criar novo Cliente</mat-checkbox>
        <mat-form-field class="w-full" *ngIf="!isFormDisabled">
            <mat-label>Selecionar Cliente</mat-label>
            <mat-select formControlName="tenant">
                <mat-option *ngFor="let t of tenants" [value]="t.id">
                    {{t.tenant_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="isFormDisabled">

            <div class="md:col-span-2 col-span-full">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Nome da Empresa</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'" matPrefix></mat-icon>
                    <input formControlName="tenant_name" matInput>
                </mat-form-field>
            </div>
            <div class="md:col-span-2 col-span-full">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>CNPJ</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'" matPrefix></mat-icon>
                    <input formControlName="tenant_cnpj" matInput>
                </mat-form-field>
            </div>
            <div class="md:col-span-3 col-span-full">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Descrição da Empresa</mat-label>
                    <textarea matInput formControlName="tenant_desription" cdkTextareaAutosize
                        [cdkAutosizeMinRows]="5"></textarea>
                </mat-form-field>
            </div>
            <div class="md:col-span-3 col-span-full">

                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Acessos do Cliente</mat-label>
                    <mat-select formControlName="dashboard" multiple class="">
                        <mat-select-trigger>
                            {{ findValue() || '' }}
                            <span *ngIf="(form.value?.dashboard?.length || 0) > 1" class="example-additional-selection">
                                (+{{(form.value?.dashboard?.length || 0) - 1}} {{form.value?.dashboard?.length === 2 ? 'outro' : 'outros'}})
                            </span>
                        </mat-select-trigger>

                        <mat-optgroup *ngFor="let group of dashboardListReduced" [label]="group.page_group">
                            {{ ' ' }}<mat-option class="ml-4" *ngFor="let page of group.children"
                                [selected]="page.selected" [value]="page.id">
                                {{page.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

    </form>

    <div class="flex flex-row justify-end mt-3">
        <div class="flex flex-row ">
            <button (click)="onSubmit()" type="button"
                class="text-white text-center algin-middle bg-red-500 w-20 hover:bg-red-600 h-6 mr-2 font-medium rounded-lg text-sm dark:bg-red-400 focus:outline-none dark:focus:ring-red-800">
                CONFIRMAR
            </button>
            <button (click)="voltar()" type="button"
                class="text-white text-center algin-middle bg-blue-500 w-20 hover:bg-blue-600 h-6 font-medium rounded-lg text-sm dark:bg-blue-400 focus:outline-none dark:focus:ring-blue-800">
                CANCELAR
            </button>
        </div>
    </div>
</div>
