<div class="flex flex-col flex-auto">
    <div class="text-3x-L flex-auto p-6  justify-center">
        <div class="flex flex-row">
            <div class="flex flex-col  w-full" id="table">
                <div class="flex items-center justify-between">
                    <mat-form-field appearance="fill" class="w-80 mt-4 mr-4 ml-1">
                        <mat-icon class="mr-4">search</mat-icon>
                        <input type="text" [formControl]="myPageControl" placeholder="Buscar Usuários"
                            (ngModelChange)="this.secondPage.filter = $event;" matInput />
                    </mat-form-field>
                    <div class="flex items-center justify-start">
                        <button mat-raised-button (click)="exportarAcessos()"
                        class="self-end mt-2 rounded-sm text-colorText bg-[#006cbe] text-white">Exportar Acessos</button>
                    </div>
                </div>
                <table mat-table class="" [dataSource]="secondPage" class="pb-6 ">
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef> Usuário </th>
                        <td mat-cell *matCellDef="let element" class="">
                            {{element.name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element" class="">
                            {{element.contact_email}}</td>
                    </ng-container>
                    <ng-container matColumnDef="relatorio">
                        <th mat-header-cell *matHeaderCellDef> Relatório </th>
                        <td mat-cell *matCellDef="let element" class="">
                            {{element.titulo}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="secondDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: secondDisplayedColumns;"></tr>
                </table>
                <div class="flex bg-white justify-end">
                    <mat-paginator #paginator [pageSize]="10" [length]="secondPage?.data.length" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>