<div class="w-full flex flex-col  pl-4 bg-white">
    <div class="w-full flex mt-4">

        <button (click)="voltar()" class="self-start mr-4  hover:rounded-full">
            <mat-icon class="flex self-center text-slate-600 hover:text-slate-400" svgIcon="arrow_back"></mat-icon>
        </button>

        <h1 class=" text-slate-700 text-2xl mb-6">
            EDITAR AMBIENTE
        </h1>
    </div>

    <form (submit)="$event.preventDefault()" [formGroup]="form" class="flex flex-col w-100">
        <mat-form-field appearance="fill">
            <mat-label>Nome do Ambiente</mat-label>
            <input formControlName="tenant_name" matInput #first />
            <mat-icon svgIcon="heroicons_outline:user-circle" class=""></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cnpj</mat-label>
            <input formControlName="tenant_cnpj" matInput #first />
            <mat-icon svgIcon="heroicons_outline:user-circle" class=""></mat-icon>
        </mat-form-field>
        <div *ngIf="form.controls.tenant_name.touched" class="text-red-600 mb-2">
            <div *ngIf="form.controls.tenant_name.errors?.['required']">
                Nome é Obrigatório
            </div>
            <div *ngIf="form.controls.tenant_name.errors?.['minlength']">
                Precisa de no mínimo 3 dígitos
            </div>
        </div>
        <mat-label class="mb-2">Logo</mat-label>
        <div class="flex justify-between items-center mb-3">
            <div class="custom-file-upload text-center w-44 h-10">
                <span>Selecionar imagem</span>
                <input type="file" (click)="clearFileSelection()" (change)="onFileSelected($event)" class="" />
            </div>
            <img *ngIf="this.form.value.tenant_image.length > 0" [src]="this.form.value.tenant_image" class="h-8 w-auto"/>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Cor</mat-label>
            <app-color-picker (colorSelected)="onColorSelected($event)"
                [selectedColor]="this.form.value.tenant_color"></app-color-picker>
            <input formControlName="tenant_color" matInput #first />
            <mat-icon svgIcon="heroicons_outline:user-circle" class=""></mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Visões</mat-label>
            <mat-select formControlName="dashboard" multiple="">
                <mat-optgroup *ngFor="let group of dashboardListReduced" [label]="group.page_group">
                    <mat-option class="ml-4" *ngFor="let page of group.children" [value]="page.id">
                        {{page.name}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="flex mt-6   ">

        <button color="warn" (click)="deletarUsuario(id)"
            class="text-white text-center algin-middle bg-red-500 w-20 hover:bg-red-600 h-7 mr-2 font-medium rounded-md text-sm dark:bg-red-400 focus:outline-none dark:focus:ring-red-800">REMOVER</button>
        <button color="primary" (click)="editar()"
            class="text-white text-center algin-middle bg-blue-600 w-20 hover:bg-blue-700 h-7 mr-2 font-medium rounded-md text-sm dark:bg-blue-400 focus:outline-none dark:focus:ring-blue-500">SALVAR</button>


    </div>
</div>