<div class="w-full flex flex-row justify-center items-center">

    <div class="flex flex-col m-10 mt-0 bg-white rounded-b-xl p-5 shadow-2xl">
        <div class="mx-10 my-0 rounded-t-xl flex items-center bg-white py-[3px]">

            <button (click)="voltar()" class="self-start my-2 mr-8 ml-[-40px] hover:rounded-full">
                <mat-icon class="flex self-center text-slate-600 hover:text-slate-400" svgIcon="arrow_back"></mat-icon>
            </button>

            <div class="w-full m-2">
                <h1 class="text-center text-slate-700 text-2xl">
                    EDITAR AMBIENTE
                </h1>
            </div>
        </div>
        <!-- <h2 class="text-left mb-2 text-xl">
        Informações do Usuário
        </h2> -->
        <form (submit)="$event.preventDefault()" [formGroup]="form" class="flex flex-col w-100" >


                <mat-form-field appearance="fill">
                    <mat-label>Nome do Tenant</mat-label>
                    <input formControlName="tenant_name" matInput #first />
                    <mat-icon svgIcon="heroicons_outline:user-circle" class=""></mat-icon>

                </mat-form-field>
               <div *ngIf="form.controls.tenant_name.touched" class="text-red-600 mb-2">
                    <div *ngIf="form.controls.tenant_name.errors?.['required']">
                        Nome é Obrigatório
                    </div>
                    <div *ngIf="form.controls.tenant_name.errors?.['minlength']">
                        Precisa de no mínimo 3 dígitos
                    </div>
                </div>

                <p>
                    <mat-checkbox formControlName="active">Ambiente está ativo?</mat-checkbox>
                </p>


        </form>


        <button mat-raised-button color="primary" (click)="editar()"
            class="self-end mt-2 rounded-sm text-colorText">SALVAR</button>
    </div>
</div>
