th {
    text-align: center
}

td {
    text-align: center
}

.mat-header-cell {
    text-align: center;
}

.mat-cell {
    text-transform: capitalize;
}

tr:hover .mat-cell {
    background-color: rgb(241, 241, 255);
}
