<div class="flex flex-col w-full  h-full ">
    <div class="w-full flex justify-center my-4">
        <button class="p-1 cursor-pointer bg-blue-600 hover:bg-blue-500 text-white shadow-sm rounded-md mx-1"(click)="prevPage()">Anterior</button>
        <ng-container *ngIf="currentPage > 2">
            <button class="p-1 px-2 cursor-pointer bg-white hover:bg-cyan-100 shadow-sm rounded-sm mx-1" (click)="goToPage(currentPage - 2)">{{ currentPage - 2 }}</button>
        </ng-container>
        <ng-container *ngIf="currentPage > 1">
            <button class="p-1 px-2 cursor-pointer bg-white hover:bg-cyan-100 shadow-sm rounded-sm mx-1" (click)="goToPage(currentPage - 1)">{{ currentPage - 1 }}</button>
        </ng-container>
        <button class="p-1 px-2 cursor-pointer bg-white hover:bg-cyan-100 shadow-sm rounded-sm mx-1" [ngClass]="currentPage == currentPage ? 'bg-yellow-400' : 'bg-white'" (click)="goToPage(currentPage)">{{ currentPage }}</button>
        <ng-container *ngIf="currentPage < totalPages">
            <button class="p-1 px-2 cursor-pointer bg-white hover:bg-cyan-100 shadow-sm rounded-sm mx-1" (click)="goToPage(currentPage + 1)">{{ currentPage + 1 }}</button>
        </ng-container>
        <ng-container *ngIf="currentPage < totalPages - 1">
            <button class="p-1 px-2 cursor-pointer bg-white hover:bg-cyan-100 shadow-sm rounded-sm mx-1" (click)="goToPage(currentPage + 2)">{{ currentPage + 2 }}</button>
        </ng-container>
       <button class="p-1 px-2 cursor-pointer bg-blue-600 hover:bg-blue-500 text-white shadow-sm rounded-md mx-1" (click)="nextPage()">Próximo</button>
    </div>
    <div  class="w-full  h-[95vh] grid grid-cols-3 xl:grid-cols-4  gap-x-4 overflow-y-auto overflow-x-hidden" cdkScrollable>
        <ng-container *ngFor="let video of paginatedVideos" style="margin: 0.5%;" class="col-span-1 flex justify-center">
            <mat-card class=" col-span-1 mb-5 flex flex-col justify-center items-center" fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
                <mat-card-content fxLayoutAlign="center center" class="w-full">
                    <div class="w-full flex justify-center">
                        <iframe class="w-[90%] h-[180px] rounded-3xl" [src]="video.safeUrl" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </mat-card-content>
                <mat-card-title class=" w-[87%]  marker:">
                        <p class="">
                            <span style="font-size:0.9rem;" fxFlex="70"
                                fxLayoutAlign="start center">{{video.snippet.title}}</span>
                            <span fxFlex></span>
                        </p>
                        <mat-chip fxFlex="25" class="mat-chip-date flex justify-between " selected="true"
                            fxLayoutAlign="center center">
                            <p style="font-size:0.7rem;">Canal: <span>{{video.snippet.channelTitle}}</span></p>
                            <span style="font-size:0.7rem;">{{video.date }}</span>
                        </mat-chip>
                </mat-card-title>
                <!-- <mat-card-actions style="margin:1px;padding-bottom:5px; padding-top: 5px;">
            </mat-card-actions> -->
            </mat-card>

        </ng-container>
    </div>
    <div class="w-full flex justify-center my-4">
        <button class="p-1 cursor-pointer bg-blue-600 hover:bg-blue-500 text-white shadow-sm rounded-md mx-1"(click)="prevPage()">Anterior</button>
        <ng-container *ngIf="currentPage > 2">
            <button class="p-1 px-2 cursor-pointer bg-white hover:bg-cyan-100 shadow-sm rounded-sm mx-1" (click)="goToPage(currentPage - 2)">{{ currentPage - 2 }}</button>
        </ng-container>
        <ng-container *ngIf="currentPage > 1">
            <button class="p-1 px-2 cursor-pointer bg-white hover:bg-cyan-100 shadow-sm rounded-sm mx-1" (click)="goToPage(currentPage - 1)">{{ currentPage - 1 }}</button>
        </ng-container>
        <button class="p-1 px-2 cursor-pointer bg-yellow-400 hover:bg-yellow-300 shadow-sm rounded-sm mx-1"  (click)="goToPage(currentPage)">{{ currentPage }}?/</button>
        <ng-container *ngIf="currentPage < totalPages">
            <button class="p-1 px-2 cursor-pointer bg-white hover:bg-cyan-100 shadow-sm rounded-sm mx-1" (click)="goToPage(currentPage + 1)">{{ currentPage + 1 }}</button>
        </ng-container>
        <ng-container *ngIf="currentPage < totalPages - 1">
            <button class="p-1 px-2 cursor-pointer bg-white hover:bg-cyan-100 shadow-sm rounded-sm mx-1" (click)="goToPage(currentPage + 2)">{{ currentPage + 2 }}</button>
        </ng-container>
       <button class="p-1 px-2 cursor-pointer bg-blue-600 hover:bg-blue-500 text-white shadow-sm rounded-md mx-1" (click)="nextPage()">Próximo</button>
    </div>
</div>