<div class="flex flex-col w-auto h-auto">
    <div class="w-full flex justify-start text-center align-center">
        <mat-icon svgIcon="mat_outline:check_circle" class="text-green-400 mr-1"></mat-icon>
        <div class=" text-2xl mb-2  font-bold">Sucesso</div>
    </div>
    Usuário criado com sucesso.
    <br>
    <p class="text-slate-500">
        Vá para a tela de Login para acessar o wwEMBEDDED
    </p>

    <button (click)="voltar()" type="button"
        class="text-white px-2  self-end text-center mt-5 w-auto algin-middle bg-blue-500 max-w-50 hover:bg-blue-600 h-6 font-medium rounded-lg text-sm dark:bg-blue-400 focus:outline-none dark:focus:ring-blue-800">
        Ir para Login
    </button>
</div>
