<div class="flex flex-col flex-auto min-w-0">
    <div class="text-3x-L flex-auto p-6  justify-center">
        <form (submit)="$event.preventDefault()" [formGroup]="form" class="flex flex-row  w-full items-center gap-2">
            <div class="w-1/3">

                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>{{ criar === false ? 'Edite o Cargo' : 'Cargo' }} </mat-label>
                    <input  class="w-full" formControlName="name" matInput #first />
                </mat-form-field>
        
            </div>
            <button mat-raised-button (click)="criarUsuario()"
                class="mt-2 rounded-sm text-colorText bg-[#006cbe] text-white">{{ criar === false ? 'Editar' : 'Criar' }}</button>
                <button *ngIf="criar === false" mat-raised-button (click)="cancelarEdicao()" matTooltip="Cancelar Edição"
                class="mt-2 rounded-sm text-colorText bg-[#be0000] text-white">X</button>
        </form>
        <div *ngIf="form.controls.name.touched" class="text-red-600 mb-2">
            <div *ngIf="form.controls.name.errors?.['required']">
                Nome do cargo é Obrigatório
            </div>
        </div>
        <div class="w-full  h-16 rounded-t-md  mt-4 flex items-center justify-between">
            <div class="text-3xl text-black mx-4">Cargos</div>
            <div class="flex items-center justify-start">
                <mat-form-field appearance="fill" class="w-80 mt-4 mr-4 ml-1 h2">
                    <mat-icon class="mr-4">search</mat-icon>
                    <input type="text" [formControl]="myControl" placeholder="Buscar"
                        (ngModelChange)="filtarUsuarios($event)" matInput />
                </mat-form-field>
            </div>
        </div>
        <div class="flex flex-col shadow-2xl" id="table">
            <table mat-table class="" [dataSource]="cargosFiltrados" class="pb-6">
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <ng-container matColumnDef="opcoes" class="flex">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="w-full flex justify-end">

                            <button class="text-violet-900" matTooltip='Editar' (click)="editarUsuario(element)">
                                <mat-icon class="cursor-pointer mr-5 text-blue-700" svgIcon="edit_note"></mat-icon>
                            </button>
                            <button matTooltip='Deletar' (click)="deletarUsuario(element.id)">
                                <mat-icon color="warn" class="cursor-pointer mr-5"
                                    svgIcon="heroicons_solid:trash"></mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
            </table>
            <div class="flex bg-white justify-end">
                <mat-paginator #paginator [pageSize]="10" [length]="cargosL" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
        <div class="flex flex-row p-4" id="table">
        </div>
    </div>
</div>