<div class="w-full flex flex-col justify-start items-start m-10">
    <div class="text-3xl text-black mx-4">Documentos</div>

    <div class="flex mt-4 w-full bg-white rounded-b-xl p-5 shadow-2xl">
        <div class="w-full flex flex-col">
            <div class="w-full flex items-center justify-between">
                <!-- *ngIf="canUploadOrDeleteFiles" -->
                <button
                    type="button"
                    class="w-60 h-auto p-2 bg-[#0069b1] hover:bg-[#00a8e4] rounded-md text-white"
                    (click)="fileInput.click()"
                >
                    Selecione arquivo
                </button>
                <!-- (click)="click()" -->
                <input
                    hidden
                    (change)="onFileSelected($event)"
                    #fileInput
                    type="file"
                />
            </div>

            <table
                mat-table
                [dataSource]="dataSource"
                class="w-full mat-table-thin"
            >
                <ng-container matColumnDef="tenant_name">
                    <th mat-header-cell *matHeaderCellDef>Cliente</th>
                    <td
                        mat-cell
                        *matCellDef="let row"
                        [ngClass]="row.id ? '' : 'text-blue-500'"
                    >
                        {{ row.tenant_name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td
                        mat-cell
                        *matCellDef="let row"
                        [ngClass]="row.id ? '' : 'text-blue-500'"
                    >
                        {{ row.name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="format">
                    <th mat-header-cell *matHeaderCellDef>Formato</th>
                    <td
                        mat-cell
                        *matCellDef="let row"
                        [ngClass]="row.id ? '' : 'text-blue-500'"
                    >
                        {{ row.file_format }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="projects">
                    <th mat-header-cell *matHeaderCellDef>Projetos</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="flex flex-row">
                            <div
                                *ngFor="let r of row.projects"
                                class="p-[3px] bg-gray-200 mr-2 rounded-full"
                            >
                                {{ r }}
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef>Data de Envio</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.created_at | date : "shortDate" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="opt">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <div class="w-full flex justify-end">
                            <button
                                class="text-violet-900"
                                [matTooltip]="row.description"
                                *ngIf="row.description?.length > 0"
                            >
                                <mat-icon
                                    class="cursor-pointer mr-5 text-[#999999]"
                                    svgIcon="heroicons_outline:question-mark-circle"
                                ></mat-icon>
                            </button>
                            <button
                                class="text-violet-900"
                                matTooltip="Baixar"
                                *ngIf="row.id"
                                (click)="downloadFile(row)"
                            >
                                <mat-icon
                                    class="cursor-pointer mr-5 text-[#0069b1]"
                                    svgIcon="download"
                                ></mat-icon>
                            </button>
                            <davita-trash-btn
                                [row]="row"
                                name="Arquivo"
                                *ngIf="canUploadOrDeleteFiles"
                                (delete)="deleteCommitedFile(row.id)"
                            ></davita-trash-btn>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="10">Sem Arquivos</td>
                </tr>
            </table>
        </div>
    </div>
</div>
