<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <form (submit)="$event.preventDefault()" [formGroup]="form">
    <h2>
      CLIENTE
    </h2>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>CNPJ</mat-label>
          <input type="text" formControlName="cnpj" matInput #first/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>NOME</mat-label>
          <input type="text" formControlName="nome" matInput #first/>
        </mat-form-field>
        <label appearance="fill">
          <mat-label>EMPRESA</mat-label>
          <select formControlName="empresa_id">
            <option *ngFor="let empresa of empresas"  [ngValue]="empresa.id">
              {{ empresa.nome }}
            </option>
          </select>
        </label>
        <label appearance="fill">
          <mat-label>CONSULTOR</mat-label>
          <select formControlName="consultor_id">
            <option *ngFor="let consultor of consultores" [ngValue]="consultor.id">
              {{ consultor.nome }}
            </option>
          </select>
        </label>
        <label appearance="fill">
          <mat-label>UF</mat-label>
          <select formControlName="uf">
            <option *ngFor="let uf of ufs" [ngValue]="uf.sigla">
              {{ uf.sigla }}
            </option>
          </select>
        </label>
      </div>
      <h2>
        CONTATOS
      </h2>
        <ng-container>
            <ng-container *ngFor="let contato of contatos.controls; let i = index">
              <div class="contatos-form-row" [formGroup]="contato">
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>CARGO</mat-label>
                    <input type="text" formControlName="cargo" matInput #first/>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>NOME</mat-label>
                    <input type="text" formControlName="nome" matInput #first/>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>TELEFONE</mat-label>
                    <input type="text" formControlName="telefone" matInput #first/>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>EMAIL</mat-label>
                    <input type="text" formControlName="email" matInput #first/>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                  <mat-label>OBSERVACAO</mat-label>
                    <input type="text" formControlName="observacao" matInput #first/>
                  </mat-form-field>
                </div>
                <mat-icon (click)="deleteContato(i)">
                  delete_forever</mat-icon>
                  <mat-icon (click)="addContato()">
                    add
                  </mat-icon>
                </div>
              </ng-container>
            </ng-container>
            <div *ngIf="contatos.controls.length < 1">
              <mat-icon (click)="addContato()">
                add
              </mat-icon>
            </div>
      <h2>
        GARAGENS
      </h2>
        <ng-container>
            <ng-container *ngFor="let garagem of garagens.controls; let i = index">
              <div class="garagem-form-row" [formGroup]="garagem">
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>CEP</mat-label>
                    <input type="text" (change)="obterCep($event.target, i)" formControlName="cep" matInput #first/>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>NOME</mat-label>
                    <input type="text" formControlName="nome" matInput #first/>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>CNPJ</mat-label>
                    <input type="text" formControlName="cnpj" matInput #first/>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>ENDERECO</mat-label>
                    <input type="text" formControlName="endereco" matInput #first/>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                  <mat-label>COMPLEMENTO</mat-label>
                    <input type="text" formControlName="complemento" matInput #first/>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>NUMERO</mat-label>
                      <input type="text" formControlName="numero" matInput #first/>
                    </mat-form-field>
                  <mat-form-field appearance="fill">
                  <mat-label>MUNICIPIO</mat-label>
                    <input type="text" formControlName="municipio" matInput #first/>
                  </mat-form-field>
                  <label appearance="fill">
                    <mat-label>UF</mat-label>
                    <select formControlName="uf_icms">
                      <option *ngFor="let uf of ufs" [ngValue]="uf.sigla">
                        {{ uf.sigla }}
                      </option>
                    </select>
                  </label>
                </div>
              </div>
              <mat-icon (click)="addGaragem()">
                add</mat-icon>
              <mat-icon (click)="deleteGaragem(i)">
                delete_forever</mat-icon>
            </ng-container>
            <div *ngIf="garagens.controls.length < 1">
              <mat-icon (click)="addGaragem()">
                add
              </mat-icon>
            </div>
        </ng-container>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </form>
</mat-dialog-content>
